<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			">

    <bean id="district" class="com.juzhi.sale.entity.District"/>

    <bean id="channel" class="com.juzhi.sale.entity.Channel"/>

    <bean id="tag" class="com.juzhi.sale.entity.Tag"/>
</beans>