#include("htmlheader.vm")

<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="../../index.html" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        巨智综合服务平台
    </a>
    #include("top.vm")
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    #include("leftmenu.vm")

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">添加渠道框</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">地区名称</label>
                                    <input type="text" class="form-control" id="districtName"
                                           placeholder="" value=""/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">渠道框名称</label>
                                    <input type="text" class="form-control" id="channelName"
                                           placeholder="渠道框名称"/>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <input id="previous" value="上一步" class="btn btn-primary" style="width:100px">
                                <input id="save" value="保存" class="btn btn-primary" style="width:100px">
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.row -->
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div>
<!-- ./wrapper -->
<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/resources/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/resources/js/AdminLTE/app.js" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function(){

         var pathname = window.location.pathname;
         var districtName = decodeURI(pathname.split('/')[4]);
         $('#districtName').val(districtName);
         $('#districtName').attr("disabled", true);


            $("#previous").click(function(){
                                  location.href="/market/add/channel?dname="+districtName;
                            });

         $("#save").click(function(){

            var districtName = $("#districtName").val();
            var channelName = districtName+$("#channelName").val();


            var myObj = {};
            myObj["districtName"] = districtName;
            myObj["channelName"] = channelName;


            var data = JSON.stringify(myObj);


                $.ajax({
                headers: {
                        Accept : "text/plain; charset=utf-8",
                        "Content-Type": "text/plain; charset=utf-8"
                    },
                        type: "POST",
                        url: "/market/add/channel/done",
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(msg){
                            alert("success: "+msg);
                            $('#channelName').val('');
                        },
                        failure: function(msg) {
                            alert("error: "+msg);
                        }
                  });
         });
    });








</script>

</body>
#include("htmlfooter.vm")