#include("htmlheader.vm")
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<header class="header">
    <a href="index.html" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        巨智综合服务平台
    </a>
    #include("top.vm")
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
#include("leftmenu.vm")

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        网络营销导航
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Widgets</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

<h4 class="page-header">
    地区
</h4>

<!-- Small boxes (Stat box) -->
<div class="row">
#foreach($district in $districtList)
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    $district.dname
                </h3>

                <p>
                    $district.description
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a target="_black" href="/market/view/$district.dname" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
#end
</div>

<h4 class="page-header">
    添加操作
</h4>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    添加地区
                </h3>

                <p>
                    添加地区
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/add/district" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    添加渠道
                </h3>


                <p>
                    添加渠道
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/add/channel" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    添加标签
                </h3>

                <p>
                     添加标签
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/add/tag" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->

</div>
<!-- /.row -->


<h4 class="page-header">
    删除操作
</h4>
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    删除地区
                </h3>

                <p>
                     删除地区
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/delete/district" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    删除渠道
                </h3>


                <p>
                     删除渠道
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/add/channel" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    删除标签
                </h3>

                <p>
                       删除标签
                </p>
            </div>
            <div class="icon">
                <i class="ion "></i>
            </div>
            <a href="/market/delete/tag" class="small-box-footer">
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->

</div>
<!-- /.row -->




</section>
<!-- /.content -->
</aside>
<!-- /.right-side -->


</div>
<!-- ./wrapper -->

</body>
#include("htmlfooter.vm")