
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
</head>
<body>
#include ("header.vm")

<ul>
  #foreach( $t in $test )
    <li>$t.name</li>
  #end
</ul>
<hr/>
<ul>
  #forearch($c in $channel)
  <li>$c</li>
</ul>

</body>
</html>